apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-stage
  namespace: instanode
spec:
  replicas: 3
  selector:
    matchLabels:
      app: user-stage
  template:
    metadata:
      labels:
        app: user-stage
    spec:
      containers:
        - name: user-stage-container
          image: swr.la-north-2.myhuaweicloud.com/instanodes-organization/tenant-stage:v1.1.3
          imagePullPolicy: Always
          ports:
            - containerPort: 3005
          envFrom:
            - configMapRef:
                name: user-stage-config
          resources:
            requests:
              cpu: '500m'
              memory: '512Mi'
            limits:
              cpu: '1000m'
              memory: '1024Mi'
          # Uncomment these as needed
          startupProbe:
            httpGet:
              path: /user/auth/health-check
              port: 3005
            failureThreshold: 12
            periodSeconds: 5
            timeoutSeconds: 2
          livenessProbe:
            httpGet:
              path: /user/auth/health-check
              port: 3005
            initialDelaySeconds: 10
            periodSeconds: 7
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /user/auth/health-check
              port: 3005
            initialDelaySeconds: 5
            periodSeconds: 10
            failureThreshold: 3

      imagePullSecrets:
        - name: default-secret
      restartPolicy: Always
